@import (reference) '../../../styles.less';

button {
  outline: none;
}

.form-wrapper {
  p {
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: calc(1vw + 12px);
    color: @green_color;
    border-bottom: 1px solid @green_color;
  }
  .form {
    width: 100%;
    padding: 10px 50px;
    text-align: center;
    .mat-form-field {
      width: 100%;
      font-size: @font_size;
    }
    .date-field::ng-deep .mat-form-field-flex {
      padding: 0;
      background: transparent;
    }
    .clicked {
      opacity: .7;
    }
    button[type="submit"] {
      width: 100%;
      color: white;
      background: @green_color;
      border-radius: 5px;
      border: 1px solid @green_color;
      padding: 10px;
      margin: 10px 0;
      line-height: 20px;
    }
  }
}
