<div class="container">
  <div class="row form-wrapper">
    <div class="col-12">
      <p>Add new plan</p>
    </div>
    <form class="form" [formGroup]="form" (submit)="submitHandler()">
      <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
      <mat-form-field class="example-full-width">
        <mat-label>Title*</mat-label>
        <input matInput type="text" name="title" autocomplete="off" formControlName="title" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input matInput type="text" name="description" autocomplete="off" formControlName="description" />
      </mat-form-field>
      <mat-form-field class="example-full-width date-field" appearance="fill">
        <mat-label>Date*</mat-label>
        <input matInput [matDatepicker]="picker" name="date" autocomplete="off" placeholder="yyyy-MM-dd"
          formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Time</mat-label>
        <input matInput type="text" name="time" autocomplete="off" placeholder="HH:mm" formControlName="time"
          [format]=24 [ngxTimepicker]="timePicker">
        <ngx-material-timepicker #timePicker></ngx-material-timepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Place Name</mat-label>
        <input matInput type="text" name="place" autocomplete="off" formControlName="place" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input matInput type="text" name="address" autocomplete="off" formControlName="address" />
      </mat-form-field>
      <button mat-raised-button type="submit" [class.clicked]="submited">Submit</button>
    </form>
  </div>
</div>
