<div *ngIf="isOpened && alertModel" class="alert-container" [class.success]="alertModel.success" [class.failed]="alertModel.failed">
  <p>{{ alertModel.planningTitle}} {{ alertModel.content }}</p>
</div>
