@import (reference) '../../../styles.less';

.alert-container {
  max-width: 200px;
  padding: 15px 25px;
  border-radius: 5px;
  margin: 5px 0;
  font-size: @font_size;
  animation-name: removeing;
  animation-delay: 7s;
  animation-duration: 3s;
  p {
    margin: 0;
  }
}
.failed {
  background: #d4d4d4;
  border: 1px solid #a0a0a0;
  color: white;
}
.success {
  background: #f9f9f9;
  border: 1px solid @success_color;
  color: @success_color;
}

@keyframes removeing {
  from { opacity: 1;}
  to { opacity: 0;}
}
