@import (reference) '../../../styles.less';

:host {
  height: 100%;
  width: 100%;
  display: block;
}

button {
  outline: none;
}

.content-wrapper {
  position: relative;
  .title-container {
    position: absolute;
    top: -43px;
    left: -10px;
    background-color: @green_color;
    color: #fff;
    padding: 7px 30px;
    border: 1px solid #40ada2;
    h1 {
      margin: 0;
      font-size: 27px;
    }
  }
  .title-style {
    position: absolute;
    top: -14px;
    left: -2px;
    background-color: @green_color;
    width: 40px;
    height: 40px;
    z-index: -1;
    transform: rotate(45deg);
  }
  .table-bordered {
    border: 1px solid @border_ligth_gray_color;
  }
  .table {
    font-size: @table_font_size;
    .success {
      background: #01ff0b42;
      opacity: .7;
    }
    .failed {
      background: #d6d6d6c2;
      opacity: .7;
    }
    tr {
      th {
        white-space: nowrap;
        padding: 15px 6px;
      }
      th::ng-deep .mat-sort-header-button {
        outline: none;
      }
      td {
        max-width: 300px;
        overflow-wrap: break-word;
        padding: 10px 6px;
      }
      td:last-of-type {
        white-space: nowrap;
      }
    }
    .action-btn {
      min-width: 0;
      line-height: 0;
      padding: 5px;
      span {
        font-size: @icon_font_size;
      }
    }
    .status-btn {
      color: @success_color;
      background-color: #01ff0b42;
    }
  }
}

.pop-up-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #52525280;
  .content {
    width: 400px;
    height: fit-content;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: #fbfbfb;
    border: 1px solid #d0d0d0;
    box-shadow: 2px 2px 4px #ababab;
    border-radius: 10px;
  }
}

.alerts-container {
  position: fixed;
  bottom: 10px;
  left: 15px;
}
