<div class="col-12">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12">
        <div class="title-container">
          <h1>My planning list</h1>
        </div>
        <div class="title-style"></div>
      </div>
    </div>
    <app-list-actions (addPlanningEmit)="openForm = true" (searchEmit)="searchChangedHandler($event)" (statusEmit)="filterByStatus($event)">
    </app-list-actions>
    <table class="table table-bordered" matSort (matSortChange)="sortData($event)">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col" mat-sort-header="date">Date</th>
          <th scope="col" mat-sort-header="place">Place name</th>
          <th scope="col" mat-sort-header="address">Address</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of sortedPlannings; index as i" [class.success]="item.status === 3"
          [class.failed]="item.status === 4">
          <td scope="row">{{ item.title }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.displayDate }}</td>
          <td>{{ item.place }}</td>
          <td>{{ item.address }}</td>
          <td>
            <button mat-button type="button" [disabled]="item.status === 3 || item.status === 4" class="action-btn"
              [class.status-btn]="item.status === 1 || item.status === 2" title="{{item.status === 1 || item.status === 2 ? 'Set done' : ''}}"
              (click)="confirmChecking(i)">
              <span class="material-icons">{{ item.status !== 4 ? 'check_circle_outline' : 'cancel' }}</span>
            </button>
            <button mat-button type="button" [disabled]="item.status === 3 || item.status === 4" class="action-btn"
              title="Edit" (click)="editPlanningHandler(item, i)">
              <span class="material-icons">create</span>
            </button>
            <button mat-button type="button" [disabled]="item.status === 3 || item.status === 4" class="action-btn"
              title="Delete" (click)="confirmDelete(i)">
              <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="alerts.length" class="alerts-container">
  <app-alert *ngFor="let alert of alerts" [alertModel]="alert"></app-alert>
</div>

<div *ngIf="openForm || confirmTitle" id="pop-up" class="pop-up-container" (click)="close($event)">
  <div class="content">
    <app-confirm *ngIf="confirmTitle" [title]="confirmTitle" (confirmEmit)="confirmed()"
      (cancelEmit)="cancel()"></app-confirm>
    <app-add-plan *ngIf="openForm" [editPlanning]="planningData" (emitFormValue)="addPlanningHandler($event)">
    </app-add-plan>
  </div>
</div>
