@import (reference) '../../../styles.less';

.confirm-container {
  padding: 15px;
  color: @main_dark_color;
  text-align: center;
  p {
    overflow-wrap: anywhere;
    font-size: @font_size;
  }
  .btns-wrapper {
    .clicked {
      opacity: .7;
    }
    button {
      margin: 0 5px;
      padding: 3px 10px;
      border-radius: 5px;
      font-size: @font_size;
      outline: none;
    }
    button:nth-of-type(1) {
      color: white;
      background: @green_color;
      border: 1px solid @green_color;
    }
    button:nth-of-type(2) {
      color: @main_dark_color;
      background: transparent;
      border: 1px solid @main_dark_color;
    }
  }
}
