<div class="confirm-container">
  <p>{{ title }}</p>
  <div class="btns-wrapper">
    <button type="button" [class.clicked]="confirmClicked" (click)="confirm()">Confirm</button>
    <button type="button" [class.clicked]="cancelClicked" (click)="cancel()">Cancel</button>
  </div>
</div>
