@import (reference) '../../../styles.less';

:host {
  height: 100%;
  width: 100%;
  display: block;
}

button {
  outline: none;
}

.actions-container {
  display: flex;
  padding: 10px 15px;
  background: @ligth_gray_color;
  border-radius: 3px;
  border: 1px solid #f1f1f1;
  color: @main_dark_color;
  .actions {
    display: flex;
    position: relative;
    .right-colomn {
      border-right: 1px solid @border_ligth_gray_color;
      margin: 0 20px;
    }
    .create-btn {
      height: 100%;
      min-width: 0;
      line-height: 0;
      padding: 5px 15px;
      background-color: rgba(0,0,0,.04);
      .material-icons {
        font-size: 28px;
        color: @main_dark_color;
      }
    }
    .search-box {
      position: absolute;
      right: 0;
      bottom: 3px;
      .search-input {
        height: 36px;
        width: calc(15vw + 150px);
        padding: 0px 50px 0 15px;
        outline: none;
        border-radius: 20px;
        border: 1px solid @border_ligth_gray_color;
        font-size: @font_size;
        color: @main_dark_color;
      }
      .search-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 0;
        line-height: 0;
        padding: 6px 12px;
        border-radius: 20px;
        span {
          color: @main_dark_color;
        }
      }
    }
  }
}

mat-form-field::ng-deep .mat-form-field-wrapper {
  line-height: normal;
  padding-bottom: 0;
}
mat-form-field::ng-deep .mat-form-field-wrapper .mat-form-field-flex {
  padding: 5px 15px 2px;
  font-size: calc(0.4vw + 9px);
}
mat-form-field::ng-deep .mat-form-field-wrapper .mat-form-field-underline {
  display: none;
}
mat-form-field::ng-deep .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
  width: calc(5vw + 100px);
  padding: 3px 0;
}
mat-form-field::ng-deep .mat-select-arrow {
  color: @main_dark_color;
}
mat-form-field::ng-deep .mat-select-value {
  color: @main_dark_color;
}
