<div class="container-fluid mb-2">
  <div class="row actions-container">
    <div class="col-12 actions">
      <div>
        <button mat-flat-button type="button" class="create-btn" title="Add plan" (click)="addPlanningEmitter()">
          <span class="material-icons">playlist_add</span>
        </button>
      </div>
      <div class="right-colomn"></div>
      <div>
        <mat-form-field appearance="fill" (change)="console.log($event)">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="selectedValue" (ngModelChange)="emitSelectedStatus()">
            <mat-option *ngFor="let food of statusData" [value]="food.key" (change)="console.log($event)">
              {{food.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="search-box">
        <input type="text" name="search" class="search-input" placeholder="Search" autocomplete="off"
          [(ngModel)]="searchItem" (ngModelChange)="searchChanged($event)" />
        <button mat-button type="button" class="search-btn">
          <span class="material-icons">search</span>
        </button>
      </div>
    </div>
  </div>
</div>
