/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  margin: 0;
  padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button, input {
  outline: none;
}

@main_dark_color: #444444;
@ligth_gray_color: #f5f5f5;
@border_ligth_gray_color: #d0d0d0;
@green_color: #3fa99f;
@success_color: #15b31b;
@font_size: calc(.3vw + 11px);
@icon_font_size: calc(1vw + 15px);
@table_font_size: calc(.3vw + 9px);